In [1]:
import pandas as pd
import requests
from config import api_key
import json

In [3]:
gop_candidate_df=pd.read_csv("rep_candidate.csv")

In [4]:
url="https://api.open.fec.gov/v1/schedules/schedule_a/by_state/by_candidate/"

In [10]:
gop_can_id=gop_candidate_df.candidate_id
gop_can_id.to_list()

['S8OH00094',
 'S2MO00429',
 'S8MN00594',
 'S8HI00194',
 'S8DE00145',
 'S8AZ00247',
 'S8PA00296',
 'S8MA00268',
 'S8PA00320',
 'S6WY00068',
 'S8PA00262',
 'S8NJ00012',
 'S8CA00572',
 'S8TN00337',
 'S8MS00238',
 'S8DE00103',
 'S8ME00130',
 'S8IN00171',
 'S8AL00316',
 'S8AZ00189',
 'S8WA00277',
 'S8MD00328',
 'S4MI00298',
 'S8PA00270',
 'S0WA00258',
 'S8CT00121',
 'S6TN00216',
 'S8CA00473',
 'S8ND00120',
 'S2TN00223',
 'S8CA00440',
 'S2TX00312',
 'S8HI00210',
 'S8RI00151',
 'S8DE00178',
 'S8FL00299',
 'S8TX00319',
 'S8VA00339',
 'S8AZ00213',
 'S8MA00276',
 'S8WY00197',
 'S8MT00218',
 'S8MD00237',
 'S8MT00275',
 'S8NY00215',
 'S8TN00352',
 'S2NE00094',
 'S2AZ00141',
 'S8NJ00541',
 'S8RI00128',
 'S8VA00313',
 'S8NV00164',
 'S8AL00332',
 'S8OH00086',
 'S8WA00244',
 'S4NJ00292',
 'S8MD00336',
 'S8NY00199',
 'S4WY00097',
 'S6UT00063',
 'S8MO00160',
 'S6NV00275',
 'S2NV00183',
 'S8IN00130',
 'S8NY00207',
 'S2IN00109',
 'S8MN00586',
 'S8NJ00509',
 'S8IN00122',
 'S8WA00319',
 'S8MS00261',
 'S6FL00301',
 'S2VA00167',
 'S8TX00350',
 'S8MI00372',
 'S8WV00127',
 'S8UT00234',
 'S8WI00232',
 'S6FL00277',
 'S8UT00242',
 'S8OH00110',
 'S8MA00318',
 'S8PA00288',
 'S8MA00326',
 'S8CA00606',
 'S8NE00208',
 'S2OH00170',
 'H6KS01179',
 'S4MS00120',
 'S8AZ00221',
 'S8IN00163',
 'S8UT00168',
 'S8TX00343',
 'S8MO00137',
 'S8AL00340',
 'S8WV00143',
 'S8MT00226',
 'S8CA00523',
 'S8RI00110',
 'S8MN00552']

In [11]:
def extract_data(results):
    return {
    "candidate_id":results["candidate_id"],
    "state": results["state"],
    "donation_count": results["count"],
    "total_raised": results["total"],
    "cycle": results["cycle"]
    }

In [13]:
gop_finance_3 = []
# pages=range(1,3)

for candidate in gop_can_id:
#     for page in range(1,3):

    data = requests.get(url=url, params={
        "election_full": False,
        "sort_hide_null": False,
        "cycle": 2018,
        "api_key": api_key,
        "sort_nulls_last": False,
        "sort_null_only": False,
        "per_page":  20,
        "candidate_id": candidate,
        "page": 3
        
    }).json()['results']
    
    for result in data:
        gop_finances = extract_data(result)
    
        gop_finance_3.append(gop_finances)

In [16]:
gop_finances_3=pd.DataFrame(gop_finance_3)

In [17]:
gop_finances_3

    candidate_id state  donation_count  total_raised  cycle
0      S8AZ00247    RI               2       2000.00   2018
1      S8AZ00247    SC              23       3950.00   2018
2      S8AZ00247    SD               4       1000.00   2018
3      S8AZ00247    TN              23       4400.00   2018
4      S8AZ00247    TX             185      48844.00   2018
..           ...   ...             ...           ...    ...
251    S8WV00143    WA              53      40806.00   2018
252    S8WV00143    WI              64      17440.00   2018
253    S8WV00143    WV             763     591139.38   2018
254    S8WV00143    WY              16      16151.00   2018
255    S8WV00143    ZZ               1       2700.00   2018

[256 rows x 5 columns]

In [18]:
gop_finance_2 = []
# pages=range(1,3)

for candidate in gop_can_id:
#     for page in range(1,3):

    data = requests.get(url=url, params={
        "election_full": False,
        "sort_hide_null": False,
        "cycle": 2018,
        "api_key": api_key,
        "sort_nulls_last": False,
        "sort_null_only": False,
        "per_page":  20,
        "candidate_id": candidate,
        "page": 2
        
    }).json()['results']
    
    for result in data:
        gop_finances_2 = extract_data(result)
    
        gop_finance_2.append(gop_finances_2)

In [19]:
gop_finances_2=pd.DataFrame(gop_finance_2)
gop_finances_2

    candidate_id state  donation_count  total_raised  cycle
0      S8AZ00247    MD              23      10300.00   2018
1      S8AZ00247    ME               2        200.00   2018
2      S8AZ00247    MI              80      12637.00   2018
3      S8AZ00247    MN              39       4000.00   2018
4      S8AZ00247    MO              30       6902.00   2018
..           ...   ...             ...           ...    ...
653    S8WV00143    NY             250     211134.08   2018
654    S8WV00143    OH             131      96217.18   2018
655    S8WV00143    OK              34      39476.00   2018
656    S8WV00143    OR              14      10252.00   2018
657    S8WV00143    OT               3       2115.00   2018

[658 rows x 5 columns]

In [20]:
gop_finance_1 = []
# pages=range(1,3)

for candidate in gop_can_id:
#     for page in range(1,3):

    data = requests.get(url=url, params={
        "election_full": False,
        "sort_hide_null": False,
        "cycle": 2018,
        "api_key": api_key,
        "sort_nulls_last": False,
        "sort_null_only": False,
        "per_page":  20,
        "candidate_id": candidate,
        "page": 2
        
    }).json()['results']
    
    for result in data:
        gop_finances_1 = extract_data(result)
    
        gop_finance_1.append(gop_finances_1)

In [21]:
gop_finances_1=pd.DataFrame(gop_finance_1)
gop_finances_1

    candidate_id state  donation_count  total_raised  cycle
0      S8AZ00247    MD              23      10300.00   2018
1      S8AZ00247    ME               2        200.00   2018
2      S8AZ00247    MI              80      12637.00   2018
3      S8AZ00247    MN              39       4000.00   2018
4      S8AZ00247    MO              30       6902.00   2018
..           ...   ...             ...           ...    ...
653    S8WV00143    NY             250     211134.08   2018
654    S8WV00143    OH             131      96217.18   2018
655    S8WV00143    OK              34      39476.00   2018
656    S8WV00143    OR              14      10252.00   2018
657    S8WV00143    OT               3       2115.00   2018

[658 rows x 5 columns]

In [22]:
concatting=[gop_finances_1, gop_finances_2, gop_finances_3]
new_gop_finance=pd.concat(concatting)
new_gop_finance.to_csv("new_gop_finance.csv")